// 秒数转时分秒
function formatTime(seconds) {
    const hours = Math.floor(seconds / 3600).toString()
    const minutes = Math.floor((seconds % 3600) / 60).toString()
    const remainingSeconds = (seconds % 60).toString()

    return `${hours.padStart(2, "0")}:${minutes.padStart(2, "0")}:${remainingSeconds.padStart(2, "0")}`;
}

document.getElementById("cases-time").innerText = formatTime({{.SpendTime}})
document.getElementById("done-num").innerText = {{.FailNum}}+{{.SuccessNum}}+{{.AbortNum}}
document.getElementById("not-done-num").innerText = {{.AllNum}}-({{.FailNum}}+{{.SuccessNum}}+{{.AbortNum}})

// 饼图
new Chart(document.getElementById('myChart-doughnut'), {
    type: 'doughnut', data: {
        labels: [
            'FAIL',
            'SUCCESS',
            'ABORT'
        ],
        datasets: [{
            label: 'NUM：',
            data: [{{.FailNum}}, {{.SuccessNum}}, {{.AbortNum}}],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(128,231,22)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    }
})

// 点击按钮，返回顶部
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

// 当网页向下滑动 20px 出现"返回顶部" 按钮
window.onscroll = function () {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
};


let failList = [];
let failIndex = 0;


window.onload = function () {
    failList = document.querySelectorAll(".r.fail, .r.abort, .check-point .fail")
}

function jumpElement(next = false) {
    if (failList.length === 0) {
        return
    }
    window.scrollTo({
        top: failList[failIndex].getBoundingClientRect().top + window.pageYOffset - 100,
        behavior: "smooth"
    })
    if (next) {
        failIndex+=1
        if (failIndex>=failList.length){
            failIndex = 0
        }
    } else {
        failIndex -= 1
        if (failIndex<0){
            failIndex = failList.length - 1
        }
    }
}

let isUnfold = true;

function unfold(){
    let uList = document.getElementsByTagName("details")
    if (isUnfold){
        for (let uListElement of uList) {
            if (!uListElement.open){
                uListElement.open = true
            }
        }
        document.getElementById("unfold").innerText = "折 叠"
    }else {
        for (let uListElement of uList) {
            if (uListElement.open){
                uListElement.open = false
            }
        }
        document.getElementById("unfold").innerText = "展 开"
    }
    isUnfold = !isUnfold
}